Reinforcement/AlphaZero/model/
Reinforcement/AlphaZero/optimizer/
Reinforcement/PokemonRed

Supervised/ClothesRecognition/data/images
Supervised/VoiceRecongnition/AI/data/mini_speech_commands
Supervised/VoiceRecongnition/AI/data/speech_commands
Supervised/SchereSteinPapier/img
Supervised/SchereSteinPapier/model
Supervised/Digit_Recognition/digit_recognition.keras

Study/Transformer/__pycache__
Study/Transformer/runs
Study/Transformer/tokenizer_de.json
Study/Transformer/tokenizer_en.json
